<ul class="nav">
    <li><a href="{{ homepage }}"{{ if !segment_1 }} class="current"{{ endif }}>Home</a></li>
  {{ nav from="/" max_depth="2" }}
    <li><a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ endif }}>{{ title }}</a></li>
  {{ /nav }}
</ul>
<ul class="nav-social">
    <li><a class="social-icon" href="https://www.facebook.com/pages/Cracking-Open/420796934793507?ref=aymt_homepage_panel"><img src="{{ theme:img src="social-icon-facebook.png" }}" width="20" height="20" alt="Follow Molly Carroll on Facebook"></a></li>
    <li><a class="social-icon" href="https://twitter.com/mollyrcarroll"><img src="{{ theme:img src="social-icon-twitter.png" }}" width="20" height="20" alt="Follow Molly Carroll on Twitter"></a></li>
    <li><a class="social-icon" href="https://instagram.com/mollycrackingopen/"><img src="{{ theme:img src="social-icon-instagram.png" }}" width="20" height="20" alt="Follow Molly Carroll on Instagram"></a></li>
</ul>