.content-column-home {
	@extend .content-column;
	@extend %home-background;
	background-color:whitesmoke;
	.page-header { @include span-columns(2 of 5); padding-left:$padding-medium; }
}
.home-book {
  position:relative;
  text-align:center;
  margin-bottom:25px;
}
.home-introduction {
  @include min-screen(nth($res-collection, 3)*1px) {
    margin:0 $padding-medium 0 $padding-medium;
  }
}
.home-video, .home-about {
  width:100%;
  margin-bottom:65px;
  h3 {
    padding-top:$padding-small;
  }
  @include min-screen(nth($res-collection, 3)*1px) {
    @include span-columns(3 of 6);
  }
}
.home-book-info {
  @include min-screen(nth($res-collection, 3)*1px) {
    position:absolute;
    left:$padding-medium;
    bottom:45px;
    padding-left:0;
  }
  padding-left:1em;
  text-align:left;
  i {
    margin-bottom:10px;
  }
  ul {
  	margin:20px 0 2em 0;
  	padding:0;
  	list-style:none;
  }
  li {
    margin-bottom:15px;
  }
  h4 {
    margin-bottom:0.5em;
  }
}
.home-spacing-medium {
  margin:0;
  @include min-screen(nth($res-collection, 3)*1px) {
    margin:$padding-medium $padding-medium 0 $padding-medium;
  }
}