////////////////////
//
// Base
//
////////////////////
html, body { 
  height:100%;
}
body {
	font-size:$base-font-size;
	font-family:$primary-font;
	color:$primary;
	background-color:$tertiary;
  @include min-screen(nth($res-collection, 3)*1px) {
  	font-size:$font-small;
  }
}
////////////////////
//
// Structure
//
////////////////////
.container {
	@include outer-container;
  width:100%;
	height:100%;
}
.content-column {
  width:auto;
  @extend %content-background;
  .page-header { padding-bottom:$padding-medium; }
  @include min-screen(nth($res-collection, 3)*1px) {
    margin-right:$right-column-width;
  }
}
.body {
  margin-top:45px;
  padding:$padding-large $padding-large $padding-large $padding-large;
  &-home {
    margin-top:30px;
  }
}
.artwork-column { 
  display:none;
  @include min-screen(nth($res-collection, 3)*1px) {
    display:block;
    float:right;
    height:100%;
    width:$right-column-width;
  }
}
.entry {
	margin-bottom:$padding-medium;
	border-bottom:1px dotted $magenta;
}
.body-container {
  padding-right:1.2em;
  padding-left:1.2em;
  @include min-screen(nth($res-collection, 3)*1px) {
    padding-left:$padding-small;
  }
}
.footer-container {
  @include span-columns(8);
	font-size:$font-small;
	padding:$padding-large $padding-medium $padding-medium $padding-medium;
}
////////////////////
//
// Logo
//
////////////////////
.monogram {
	position:absolute;
	z-index:$z-logo;
	top:165px;
	right:300px;
	width:141px;
	height:186px;
}
.logo {
  margin-top:45px;
  margin-left:15px;
}