////////////////////
//////////////////
//
// Underscore
// BASE
// v 1.0
//
// TABLE OF CONTENTS
//
//
//////////////////
////////////////////
//
// Base
//
////////////////////
html, body { height:100%; }
body {
	font-size:$base-font-size;
	font-family:$primary-font;
	color:$primary;
	background-color:$peach;
	@extend %background;
  @include min-screen(nth($res-collection, 3)*1px) {
  	font-size:$font-small;
  }
}
////////////////////
//
// Structure
//
////////////////////
.container {
	@include outer-container;
	height:100%;
}
.content {
  width:100%;
  @extend %content-background;
  .page-header { padding-bottom:$padding-medium; }
  background-color:whitesmoke;
  @include min-screen(nth($res-collection, 3)*1px) {
  	@include span-columns(5);
  	.page-header { @include span-columns(2 of 5); padding-left:$padding-medium; }
  	.body { padding:$padding-medium $padding-medium $padding-medium $padding-medium; @include span-columns(5 of 5); }
  }
}
.content-home {
	@extend .content;
	@extend %home-background;
	background-color:whitesmoke;
	.page-header { @include span-columns(2 of 5); padding-left:$padding-medium; }
	.body { padding:$padding-medium $padding-medium $padding-medium $padding-medium; @include span-columns(5 of 5); }
}
.home-book {
  text-align:center;
}
.home-introduction {
  @include min-screen(nth($res-collection, 3)*1px) {
    margin-right:175px;
  }
}
.entry {
	margin-bottom:$padding-medium;
	padding:0 $padding-medium $padding-medium $padding-medium;
	border-bottom:1px dotted $magenta;
}
.body-container {
  padding-top:80px;
  padding-right:1.2em;
  padding-left:1.2em;
  &-home {
    padding-top:55px;
  }
  @include min-screen(nth($res-collection, 3)*1px) {
    padding-left:$padding-small;
  	margin-top:255px;
    &-home {
      margin-top:105px;
    }
  }
}
.footer-container {
  @include span-columns(8);
	font-size:$font-small;
	padding:$padding-large $padding-medium $padding-medium $padding-medium;
}
.artwork { 
  display:none;
  @include min-screen(nth($res-collection, 3)*1px) {
    position:relative;
    height:100%;
    @include span-columns(3);
  }
}
.embellishment { position:relative; width:368px; }
.face {
	position:absolute;
	z-index:$z-face;
	top:0px;
	right:0px;
	width:368px;
	height:607px;
	@extend %face-artwork;
}
.color-band {
	width:368px;
	height:433px;
	@extend %color-band;
}
.salmon {
	background-position:0px -2162px;
}
.green {
	background-position:0px -1730px;
}
.yellow {
	background-position:0px -1298px;
}
.teal {
	background-position:0px -862px;
}
.purple {
	background-position:0px -431px;
}
.pink {
	
}
.artwork-band {
	width:368px;
	height:100%;
	@extend %artwork-band;
}
.one {
	background-position:0px 0px;
}
.two {
	background-position:-385px 0px;
}
.three {
	background-position:-770px 0px;
}
.four {
	background-position:-1150px 0px;
}
.five {
	background-position:-1540px 0px;
}
.six {
	background-position:-1925px 0px;
}
////////////////////
//
// Navigation
//
////////////////////
.nav-container { 
  padding-left:1.2em;
  @include min-screen(nth($res-collection, 3)*1px) {
  	padding-left:$padding-small;
  }
}
.nav {
	width:100%;
	margin:20px 0 2em 0;
	padding:0;
	list-style:none;
	a {
		display:block;
		font-size:$font-large;
		font-family:$tertiary-font;
		text-decoration:none;
		text-transform:lowercase;
		letter-spacing:em(1);
		margin-right:em(14);
		border-bottom:1px dotted black;
	}
  .social-icon {
    border-bottom:none;
    float:left;
  }
  .current { color:$silver; border-bottom:1px dotted $silver; }
  @include min-screen(nth($res-collection, 3)*1px) {
    float:left;
  	li { float:left; }
  }
}
.nav-secondary {
	padding-left:$padding-medium;
	a {
		display:block;
		font-size:em(19);
		font-family:$tertiary-font;
		color:$purple;
		text-decoration:none;
		text-transform:lowercase;
		letter-spacing:em(1);
		margin-right:em(14);
		border-bottom:1px dotted $purple;
	}
	.current { color:$silver; border-bottom:1px dotted $silver; }
}
////////////////////
//
// Logo
//
////////////////////
.monogram {
	position:absolute;
	z-index:$z-logo;
	top:185px;
	right:300px;
	width:141px;
	height:186px;
}
.logo {
  @include min-screen(nth($res-collection, 3)*1px) {
  	position:absolute;
  	z-index:$z-logo;
  	top:120px;
  	left:15px;
  	width:336px;
  	height:78px;
  } 
}