<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ _site_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="//use.typekit.net/yjh3odg.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="{{ theme:css src="styles" }}">
  <link href="http://molly-carroll.com/favicon.ico" rel="shortcut icon">
  <link href="http://molly-carroll.com/apple-touch-icon.png" rel="apple-touch-icon-precomposed">
</head>
<body>
	<div class="container">
		<div class="artwork-column">
			<div class="embellishment"><div class="monogram"><a href="{{ homepage }}"><img src="{{ theme:img src="mc_monogram_1.0.png" }}" width="141" height="118" alt="Molly Carroll Author of Cracking Open"></a></div><div class="face"></div></div>
			<div class="color-band {{ color }}"></div>
			<div class="artwork-band {{ artwork }}"></div>
		</div>
		<div class="content-column{{ if !segment_1 }}-home{{ endif }}">
      <div class="logo"><a href="{{ homepage }}"><img src="{{ theme:img src="mc_logo_2.2.png" }}" width="336" height="78" alt="Molly Carroll Author of Cracking Open"></a></div>
  		<nav class="nav-container">
  			{{ theme:partial src="nav" }}
  		</nav>
			<div class="container body{{ if !segment_1 }}-home{{ endif }}">
				{{ quote|title }}
				{{ layout_content }}
			</div>
			<footer class="footer-container">
        {{ theme:partial src="footer" }}
			</footer>
		</div>
		
	</div>
</body>
</html>